h1 {
    background-color: black;
    height: 20px;
}

nav {
    background-color: rgb(138, 184, 184);
    height: 80px;
}

main {
    background-color: rgb(173, 144, 199);
}
.tabela {
    background-color: rgb(98, 128, 50);
}
figcaption {
    border: 2px black solid;
    padding: 20px;
    margin: 10px;
    background-color: yellow;
    width: 100px;
    height: 50px;
}

img {
    width: 100px;
}